/* General */

.body {
  background-color: #fffdf9;
  margin: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.logo {
  height: 100px;
  padding: 5px;
  border-radius: 10px;
}

.nav-item {
  font-size: larger;
}

.media-body {
  margin: 25px;
}

.nav-principal {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header {
  background-color: #beebe9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.botones {
  font-family: Arial, Helvetica, sans-serif;
  color: #fffdf9;
  background-color: #6883F0;
  border-radius: 5px;
  margin: 2px;
}

.suscripcion {
  background-color: #ECECEC;
  border-radius: 5px;
  border-color: #ECECEC;
}

footer {
  background-color: #beebe9;
  border-radius: 5px;
}

.titulos-footer {
  font-size: larger;
  font-weight: bold;
}

.links-footer {
  color: #616161;
}

.derechos {
  font-weight: bold;
}

.iconos {
  font-size: xx-large;
  margin-left: 10px;
  margin-right: 10px;
}

/* Index */

.card1 {
  background-color: #beebe9;
}

h3 {
  text-align: center;
}

.noticias {
  background-color: #ffe3ed;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.img-noticias {
  height: 150px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Producto */

.card-producto {
  text-align: center;
}

.card-producto-header {
  background-color: #beebe9;
  font-size: xx-large;
  font-weight: bold;
}

.card-border {
  border-color: #8ac6d1;
  border-radius: 5px;
  border-width: 2px;
}

.card-paquete-header {
  background-color: #beebe9;
}

.card-extras {
  border-color: #F9F63E;
  border-radius: 5px;
  border-width: 2px;
}

.card-extras-header {
  background-color: #F9F63E;
}

.card-comprar {
  border-color: #2ECC48;
  border-radius: 5px;
  border-width: 4px;
}

.card-comprar-texto {
  text-align: center;
}

.boton-comprar {
  margin: 30px;
}

.perfiles {
  height: 120px;
  margin: 10px;
}

.media-perfiles {
  background-color: #ffe3ed;
  border-radius: 5px;
}

/* Checkout */

.bloques-header {
  background-color: #beebe9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bloques {
  height: 700px;
}

.bloques-form {
  height: 650px;
}

.bloques-titulos {
  font-weight: bold;
}

.boton-guardar {
  align-items: flex-end;
  padding: 25px;
}

/* Responsive */

/* Small devices (landscape phones, 576px and up) */

/* General */

@media (min-width: 576px) {
  .body {
    margin: 20px;
  }

  .logo {
    height: 75px;
    padding: 5px;
    border-radius: 10px;
  }

  .media-body {
    margin: 10px;
    margin-top: 25px;
  }
  
  .nav-link {
    padding: 10px;
  }

  .nav-item, .navbar-brand, .form-control, .btn-outline-success {
    font-size: small;
  }

  .d-flex {
    display: block!important;
    text-align: center;
  }

  /* Index */

  .card-deck {
    display: block;
  }

  .card1 {
    margin: 20px;
  }

  /* Producto */

  .boton-comprar {
    margin: 0px;
    margin-top: 30px;
    padding: 10px;
  }

  /* Checkout */

  .col-sm-6 {
    display: block!important;
    margin: 10px;
    max-width: none;
    flex: none;
  }

  .bloques {
    height: auto;
  }

  .text-right {
    text-align: left!important;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

  /* General */

  .d-flex {
    display: flex!important;
    text-align: left;
  }

  /* Checkout */

  .col-sm-6 {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  /* General */

  .body {
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .logo {
    height: 100px;
    padding: 5px;
    border-radius: 10px;
  }

  .media-body {
    margin: 25px;
  }
  
  .nav-link {
    padding: 10px;
  }

  .nav-item, .navbar-brand, .form-control, .btn-outline-success {
    font-size: larger;
  }
  
  /* Index */

  .card-deck {
    display: flex;
  }

}